@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Lato:wght@400;700&family=Roboto+Serif&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.all{
    padding: 32px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(100, 21, 255);
    padding-bottom: 0.5em;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

.blue__text{
    color: #6415ff;
}
.nav__bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 24px;
}

/* .container{
    padding: ;
} */

.logo{
    height: 40px;
    width: 40px;
}

.woman__img{
    height: 368.39px;
    width: 512px;
}



.nav__title{
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
    margin: 0 24px 0 0;
    padding: 0 0 4px;
    display: flex;
    align-items: center;
}


.nav__link{
    color: #243E63;
    font-size: 14px;
    margin: 0 24px;
    padding: 0 0 4px;
    font-weight: 600;
}

.nav__link--primary{
    margin: 0;
    padding: 12px 32px;
    color: white;
    background-color: rgb(100, 21, 255);
    border-radius: 25px;
}

.nav__link--primary:hover{
    margin: 0;
    padding: 12px 32px;
    color: white;
    /* background-color: rgb(80, 17, 204); */
    border-radius: 25px;
    cursor: pointer;
}

.nav__link--secondary{
    margin: 0 24px 0 48px;
}

.two__column--wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.column__1{
    position: relative;
    text-align: left;
    line-height: 24px;
}

.column__1--h1{
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-size-adjust: 100%;
    flex-wrap: wrap;
}

.column__1--para{
    font-size: 16px;
    margin: 32px 0;
}

.column__1--actions{
    display: flex;
    justify-content: space-between;
}

.inpt{
   border: rgb(229, 231, 235) 2px solid;
   font-size: 16px;
   font-stretch: 100%;
   font-weight: 500;
   padding: 20px 192px 20px 32px;
   border-bottom-left-radius: 9999px;
   border-bottom-right-radius: 9999px;
   border-top-left-radius: 9999px;
   border-top-right-radius: 9999px;

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: rgb(100, 21, 255);
    border-bottom-color: rgb(229, 231, 235);
    appearance: button;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 8px 8px 16px 0;
}

.costumer__logos{
    display: block;
    margin-top: 80px;
}

.customer__logos--img{
    width: 397.66px;
    height: 27.65px;
    padding-right: 64px;
    text-size-adjust: 100%;
    color: rgb(36, 62, 99);
    margin: 16px 0 0;
}

.costumer__logos--para{
    text-transform: uppercase;
    color: rgb(160, 174, 192);
    font-size: 12px;
    font-weight: 700;
}

.column__2{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}




